<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="@Url.Content("~")" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/kendocss")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
<header>
    <div id="top-banner" class="hidden-xs">
        <div class="container">
            <div class="row">
                <div id="information-nav" class="col-lg-6">
                    <ul class="nav navbar-nav navbar-left">
                        <li><strong>Viterbi School of Engineering</strong></li>
                    </ul>
                </div>
                <div id="access-nav" class="col-lg-6">
                    <ul class="nav navbar-nav navbar-right">
                        <li><strong>Prof. Darth Vader, PhD</strong></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="nav navbar-nav navbar-left">
                        <li>Chemical Engineering Department</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="nav navbar-nav navbar-right">
                        <li>(213) 851-4467</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="clearfix">
            <div style="width: 252px;" class="pull-right hidden-xs">
                <a href="http://usc.edu">
                    <img src="~/Content/images/usc_230.png" class="img-responsive" alt="University of Southern California" />
                </a>
            </div>
            <div class="pull-left">
                @*<div class="hidden-xs"> <img src="~/Content/images/logo.png" alt="Office of Academic Records and Registrar"></div>*@
                <div class="hidden-xs"><h1 style="color:#ffcc00;">Non-standard Session Request Form</h1></div>
                <div class="visible-xs"><img src="~/Content/images/USC logo-xs.png" class="img-responsive"></div>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="container">

        <div class="mainContent">
            @RenderBody()
        </div>
    </div>

</div>
<footer class="text-center">
    <div class="container">
        <div>
            ©2017 The University of Southern California
        </div>
    </div>
</footer>
   
<script id="infoTemplate" type="text/x-kendo-template">
    <div class="notification-info">
        <h3>
            <span class="glyphicon glyphicon-info-sign icon" aria-hidden="true"></span>
            #= title #
        </h3>
        <p>#= message #</p>
    </div>
</script>

<script id="errorTemplate" type="text/x-kendo-template">
    <div class="notification-error">
        <h3>
            <span class="glyphicon glyphicon-remove-sign icon" aria-hidden="true"></span>
            #= title #
        </h3>
        <p>#= message #</p>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">
    <div class="notification-success">
        <h3>
            <span class="glyphicon glyphicon glyphicon-ok-sign icon" aria-hidden="true"></span>
            #= title #
        </h3>
        <p>#= message #</p>
    </div>
</script>

<script id="warningTemplate" type="text/x-kendo-template">
    <div class="notification-warning">
        <h3>
            <span class="glyphicon glyphicon glyphicon-exclamation-sign icon" aria-hidden="true"></span>
            #= title #
        </h3>
        <p>#= message #</p>
    </div>
</script>
    

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/kendo")
@Scripts.Render("~/bundles/sessionModule")
@RenderSection("scripts", required: false)

</body>
</html>